/* ===================== */
/*   CHARACTER SETTINGS  */
/* ===================== */

.character-settings,
.skills-settings {
    /*border: 1px solid #ccc;*/
    border-radius: 12px;
    padding: 16px;
    margin-top: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    color: #222;
}

/* Subtle hover effect for light mode */
.skills-settings:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background-color: #f0f0f0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Settings sliders label + input */
.slider-label-with-input {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #222
}

/* ===================== */
/*   DARK MODE OVERRIDE  */
/* ===================== */

.dark .slider-label-with-input {
    color: #ddd;
}

.dark .character-settings,
    .dark .skills-settings {
        background: linear-gradient(145deg, #1f2937, rgba(33, 48, 58, 0.16));
        border-color: rgba(255,255,255,0.1);
        box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    }

    .dark .skills-settings:hover {
        background: linear-gradient(145deg, #1f2937, rgba(33, 48, 58, 0.16));
        box-shadow: 0 4px 10px rgba(255, 255, 255, 0.08);
    }
