.layout {
    --sidebar-width: 200px;
    --sidebar-collapsed-width: 60px;
}

/* ===================== */
/*   GENERAL LAYOUT      */
/* ===================== */

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*overflow: auto;*/
}

.main-content {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
}

.split {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    min-width: 0;
}

#left-pane.characters-mode {
    min-width: 350px;
}

#left-pane.weapon-mode {
    min-width: 350px;
}

#left-pane.enemy-mode {
    min-width: 350px;
}

#left-pane.buffs-mode {
    min-width: 450px;
}

@media (prefers-color-scheme: dark) {
    #left-pane, #right-pane {
        background: #131922 !important;
    }
    .layout {
        background: #131922 !important;
    }
}

@media (max-width: 500px) {
    html {
        zoom: 0.55;
    }
    .layout {
        overflow-y: auto;
        height: 100%;
    }
}


/* ===================== */
/*   TRANSITION TARGETS  */
/* ===================== */

.sidebar-button,
.label-slot,
.label-text,
.icon-slot,
.toolbar,
.sidebar {
    transition:
            background-color 0.3s ease,
            color 0.3s ease,
            transform 0.3s ease;
}