@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    --sidebar-width: 12.5rem;
    --sidebar-collapsed-width: 3.75rem;
}

/* ===================== */
/*   GENERAL LAYOUT      */
/* ===================== */

html, body, #root {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #f9f9f9;
}

.layout.collapsed-mode {
    overflow-y: auto;
}

.dark .layout {
    background: #131922;
}

.main-content {
    flex: 1;
    min-width: 0;
    overflow: auto;
    transition: all 0.3s ease;
}

.horizontal-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.split {
    display: flex;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    min-width: 0;
}

#left-pane.characters-mode,
#left-pane.weapon-mode,
#left-pane.enemy-mode {
    min-width: 21.875rem; /* 350px */
}

#left-pane.buffs-mode,
#left-pane.rotation-mode,
#left-pane.teams-mode,
#left-pane.echoes-mode {
    min-width: 31.25rem;
}

.dark #left-pane,
.dark #right-pane {
    background: #131922;
}

@media (max-width: 500px) {
    html {
        font-size: clamp(0.75rem, 2vw, 1rem);
    }
}

/* Text color elements */
.inherent-skills-box,
.stat-label,
.damage-grid,
.stat-value,
.stat-total,
.slider-group,
.header-with-icon,
.damage-text,
.layout,
.main-content,
.toolbar,
.sidebar {
    color: #222;
}

.dark .slider-group,
.dark .buff-grid,
.dark .character-settings,
.dark .header-with-icon,
.dark .damage-text,
.dark .layout,
.dark .main-content,
.dark .toolbar,
.sidebar {
    color: #ddd;
}

button,
button:focus,
button:active,
button:focus-visible {
    outline: none !important;
    box-shadow: none !important;
}

button img {
    user-select: none !important;
}

input[type="button"],
input[type="submit"],
input[type="file"] {
    outline: none !important;
    box-shadow: none !important;
}

.modern-checkbox.disabled {
    opacity: 0.5;
    pointer-events: none;
}