/* ===================== */
/*   SPLIT.JS GUTTER     */
/* ===================== */

.gutter {
    background-color: #ccc;
    cursor: col-resize;
}

.gutter:hover {
    background-color: #d3d3d3;
}

.dark .gutter {
    background-color: #333;
}

.dark .gutter:hover {
    background-color: #6ba7e5;
}